<?xml version="1.0" encoding="UTF-8"?>   
<beans 
xmlns="http://www.springframework.org/schema/bea
 ns" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema
instance" 
xmlns:context="http://www.springframework.org/sch
 ema/context" 
xsi:schemaLocation="http://www.springframework.org
 /schema/beans 
http://www.springframework.org/schema/beans/sprin
 g-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spr
 ing-context-3.0.xsd">  
<context:component-scan base-package="a.b.n"/> 
<bean id="viewResolver" 
class="org.springframework.web.servlet.view.InternalR
 esourceViewResolver"> 
<property name="prefix"> 
<value>/WEB-INF/</value> 
</property> 
<property name="suffix"> 
<value>.jsp</value> 
</property> 
</bean> 
</beans>